@font-face {
    font-family: "Roboto-bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family:"Roboto-italic" ;
    src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: "Roboto-black";
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto-bitalic";
    src: url(../fonts/Roboto-BoldItalic.ttf);
}

.section1{
    background-color: #1f2937;
}

.nav {
    size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
}

.navimage {
    height: 50px;
    width: auto;
}
.refDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    width: 150px;
}
a {
    color: rgb(249, 250, 248);
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a.navlinks:hover {
    text-decoration: underline;
    transform: scale(2.0);
}

a.logo:hover {
    text-decoration: none;
    transform: scale(1);
}

a:active {
    text-decoration: none;
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
}



.section1Header {
    font-family: 'Roboto-bold',sans-serif;
    font-size: 48px;
    color: rgb(249, 250, 248);
    width: 400px;
    height: 140px;
}

.section1text {
    font-family: "Roboto-black",sans-serif;
    font-size: 18px;
    color: rgb(229, 231, 235);
    width: 500px;
    height: 60px;
}

.button {
    color: rgb(255, 255, 255);
    background-color: #3882f6;
    width: 110px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 0.375rem 0.75rem;
    border-radius: 0.5rem;
}


.image1 {
    width: 450px;
    height: auto;
}

.section2{
    display: flex;
    flex-direction: column;
}
.section2title{
    font-family: 'Roboto-bold',sans-serif;
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}

.imagesblock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:250px ;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10px;
}

.sec2image{
    border: 4px solid #3882f6 ;
    border-radius: 10px;
    width: 135px;
    height: 150px;
}

.sec2text{
    font-size: 15px;
    text-align: center;
    color: #787878;
}

.singleimage{
    margin: 20px;  
}
.singleimage:hover{
    transform: scale(1.5);
}


.section3{
    background-color: #E5E7EB;
}

.sec3subdiv{   
    display: flex;
    flex-direction: row; 
    justify-content: center;
    color: #1f2937;
    padding-top: 80px;
    padding-bottom:80px ;
}
.sec3text{
    font-size: 36px;
    font-family: "Roboto-italic",sans-serif;
    width: 800px;
    height: 150px;
}

.sec3author{
    font-family: "Roboto-bold",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.section4sub{
    width: 40%; 
    height: 150px;
    background-color: #3882f6;
    border-radius:  8px; ;
    margin: 100px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right:10%;
}

.sec4left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec4right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec4text{
    font-family: "Roboto-bold",sans-serif;
    font-size: 22px;
}
.sec4text2{
    font-size: 16px;
    font-family: "Roboto-black",sans-serif;
}
.sec4Button{
    border: 2px solid #E5E7EB;
}

.footer{
    background-color: #1f2937;
}

.footertext{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:10px ;
    display:flex;
    justify-content: center;
    color: #E5E7EB;
    font-family: "Roboto-black",sans-serif;
}


/* TeamSquad */
.squadmain{
    background-color: #1f2937;
}
.Squadtitle{
 font-size: 50px;
 font-family: "Roboto-bold",sans-serif;
 color: rgb(229, 231, 235);
 text-align: center;
 
}
.positiondiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.playerdiv{
    border:5px solid #E5E7EB;
    margin-bottom: 5%;
    border-radius: 5px;
}
.playerdiv:hover{
    transform: scale(1.3);
    border: 5px solid #e5e7eb80;
}
.positiontext{
    text-align: center;
    font-family: "Roboto-bold",sans-serif;
    font-size: 30px;
    color: #e5e7eb;
    margin-top: 100px;
}
.playerimage{
    height: 300px;
    width: auto;
    border-bottom: 2px solid #E5E7EB;
}

.cname{
    font-family: "Roboto-bitalic",sans-serif;
    text-align: center;
    font-size: 16px;
    color:#E5E7EB ;
    padding-left: 1%;
}
.nn {
    text-align: center;
    font-family: "Roboto-bold",sans-serif;
    font-size: 20px;
    color:#E5E7EB ;
    padding-left: 1%;
}

.playerinfo{
    display: flex;
    flex-direction: column;
}
.flag{
    height: 20px;
    width: auto;
    padding-right: 1%;
    margin-top: 5%;
}
.country{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


